name: Metrics
on:  
  push:  
    branches: [ main ]  
  pull_request:  
    branches: [ main ]  
  schedule:  
    - cron: '0 */6 * * *'  
  workflow_dispatch:  
      inputs:  
          description: {default: 'Start Metrics Workflow'}  
          name: {default: 'Metrics for BuriXon-code'}  
jobs:  
  all:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit  
          template: classic
          # BASE AND CONFIG  
          base: header, activity, community, repositories, metadata  
          config_timezone: Europe/Warsaw  
          config_display: large  
          # ACHIEVEMENTS  
          plugin_achievements: yes  
          plugin_achievements_display: detailed  
          plugin_achievements_secrets: yes  
          plugin_achievements_threshold: C  
          # LANGUAGES  
          plugin_languages: yes  
          plugin_languages_colors: github  
          plugin_languages_threshold: 0.1  
          # COMMIT CALENDAR  
          plugin_isocalendar: yes  
          plugin_isocalendar_duration: half-year  
          # REPOSITORIES
          plugin_repositories: yes  
          plugin_repositories_featured: micro-retab-plugin, spideko, Termux-GPS-tracker, Termux-WiFi-map, termux-login, typecat
          # HABITS              
          plugin_habits: yes
          plugin_habits_facts: yes
          plugin_habits_charts: no
          # FOLLOWUP  
          plugin_followup: yes  
          plugin_followup_sections: repositories  
          # PEOPLE  
          plugin_people: yes  
          plugin_people_limit: 16  
          plugin_people_size: 28  
          plugin_people_types: followers, following  

  # HEADER
  header:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          filename: github-header.svg
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit  
          template: classic  
          base: header, activity, community, repositories, metadata  
          config_timezone: Europe/Warsaw  
          config_display: large  

  # ACHIEVEMENTS
  achievements:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          filename: github-achievements.svg
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit
          base: ""       
          config_display: large  

          plugin_achievements: yes  
          plugin_achievements_display: compact  
          plugin_achievements_secrets: yes  
          plugin_achievements_threshold: C  

  # LANGUAGES
  languages:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          filename: github-languages.svg
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit  
          base: ""  
          template: classic  
          config_timezone: Europe/Warsaw  
          config_display: large  

          plugin_languages: yes  
          plugin_languages_colors: github  
          plugin_languages_threshold: 0.1  

  # COMMIT CALENDAR
  isocalendar:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          filename: github-isocalendar.svg
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit  
          base: ""  
          template: classic  
          config_timezone: Europe/Warsaw  
          config_display: large  

          plugin_isocalendar: yes  
          plugin_isocalendar_duration: half-year  

  # FEATURED REPOS          
  repo_featured:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          filename: github-repositories.featured.svg
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit  
          base: ""  
          template: classic  
          config_timezone: Europe/Warsaw  
          config_display: large  
            
          plugin_repositories: yes  
          plugin_repositories_featured: HexSh, micro-retab-plugin, Termux-GPS-tracker, Termux-WiFi-map, termux-login, typecat

  # BEST FOR TERMUX          
  repo_for_termux:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          filename: github-repositories.for.termux.svg
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit  
          base: ""  
          template: classic  
          config_timezone: Europe/Warsaw  
          config_display: large  
            
          plugin_repositories: yes  
          plugin_repositories_featured: ADBash, FireTor, Termux-SMS-spammer, Termux-WiFi-map, termux-login, termux-mc

  # BEST BASH          
  repo_bash:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          filename: github-repositories.bash.svg
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit  
          base: ""  
          template: classic  
          config_timezone: Europe/Warsaw  
          config_display: large  
            
          plugin_repositories: yes  
          plugin_repositories_featured: 256colors, github-traffic, HexSh, PolyglotSH, Termux-WiFi-map, ZalgoText

  # BEST OTHER LANG          
  repo_other_lang:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          filename: github-repositories.other.lang.svg
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit  
          base: ""  
          template: classic  
          config_timezone: Europe/Warsaw  
          config_display: large  
            
          plugin_repositories: yes  
          plugin_repositories_featured: micro-burixon-dark, micro-retab-plugin, php-tor-filter, polyglot, spideko, typecat

  # PAGESPEED
  main-speed:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: lowlighter/metrics@latest  
        with:  
          filename: github-main.pagespeed.svg  
          token: NOT_NEEDED  
          base: ""  
          plugin_pagespeed: yes  
          plugin_pagespeed_token: ${{ secrets.PAGESPEED_TOKEN }}  
          plugin_pagespeed_url: https://burixon.dev/

  # PAGESPEED
  proj-speed:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: lowlighter/metrics@latest  
        with:  
          filename: github-projects.pagespeed.svg  
          token: NOT_NEEDED  
          base: ""  
          plugin_pagespeed: yes  
          plugin_pagespeed_token: ${{ secrets.PAGESPEED_TOKEN }}  
          plugin_pagespeed_url: https://burixon.dev/projects/

  # PAGESPEED
  blog-speed:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: lowlighter/metrics@latest  
        with:  
          filename: github-blog.pagespeed.svg  
          token: NOT_NEEDED  
          base: ""  
          plugin_pagespeed: yes  
          plugin_pagespeed_token: ${{ secrets.PAGESPEED_TOKEN }}  
          plugin_pagespeed_url: https://burixon.dev/blog/

  # PAGESPEED
  test-speed:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: lowlighter/metrics@latest  
        with:  
          filename: github-test.speed.pagespeed.svg  
          token: NOT_NEEDED  
          base: ""  
          plugin_pagespeed: yes  
          plugin_pagespeed_token: ${{ secrets.PAGESPEED_TOKEN }}  
          plugin_pagespeed_url: https://burixon.dev/test.php
