name: Metrics  
on:  
  push:  
    branches: [ main ]  
  pull_request:  
    branches: [ main ]  
  schedule:  
    - cron: '0 */6 * * *'  
  workflow_dispatch:  
      inputs:  
          description: {default: 'Start Metrics Workflow'}  
          name: {default: 'Metrics for BuriXon-code'}  
jobs:  
  all:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit  
          template: classic  
          base: header, activity, community, repositories, metadata  
          config_timezone: Europe/Warsaw  
          config_display: large  
            
          plugin_achievements: yes  
          plugin_achievements_display: detailed  
          plugin_achievements_secrets: yes  
          plugin_achievements_threshold: C  
            
          plugin_languages: yes  
          plugin_languages_colors: github  
          plugin_languages_threshold: 0.1  
            
          plugin_isocalendar: yes  
          plugin_isocalendar_duration: half-year  
  
          plugin_repositories: yes  
          plugin_repositories_forks: repositories_forks  
          plugin_repositories_featured: BuriXon-code/Termux-WiFi-map, BuriXon-code/spideko, BuriXon-code/typecat, BuriXon-code/Termux-GPS-tracker, BuriXon-code/termux-login, BuriXon-code/micro-retab-plugin  
            
          plugin_lines: yes  
            
          plugin_habits: yes  
          plugin_habits_days: 14  
          plugin_habits_facts: no  
          plugin_habits_charts: yes  
          plugin_habits_from: 500  
            
          plugin_followup: yes  
          plugin_followup_sections: repositories  
            
          plugin_people: yes  
          plugin_people_limit: 16  
          plugin_people_size: 28  
          plugin_people_types: followers, following  

  header:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          filename: github-header.svg
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit  
          template: classic  
          base: header, activity, community, repositories, metadata  
          config_timezone: Europe/Warsaw  
          config_display: large  

  achievements:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          filename: github-achievements.svg
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit
          base: ""       
          plugin_achievements: yes  
          plugin_achievements_display: compact  
          plugin_achievements_secrets: yes  
          plugin_achievements_threshold: C  

  languages:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          filename: github-languages.svg
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit  
          base: ""  
          template: classic  
          config_timezone: Europe/Warsaw  
          config_display: large  

          plugin_languages: yes  
          plugin_languages_colors: github  
          plugin_languages_threshold: 0.1  

  isocalendar:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          filename: github-isocalendar.svg
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit  
          base: ""  
          template: classic  
          config_timezone: Europe/Warsaw  
          config_display: large  

          plugin_isocalendar: yes  
          plugin_isocalendar_duration: half-year  
          
  repositories:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          filename: github-repositories.svg
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit  
          base: ""  
          template: classic  
          config_timezone: Europe/Warsaw  
          config_display: large  
            
          plugin_repositories: yes  
          plugin_repositories_forks: repositories_forks  
          plugin_repositories_featured: BuriXon-code/Termux-WiFi-map, BuriXon-code/spideko, BuriXon-code/typecat, BuriXon-code/Termux-GPS-tracker, BuriXon-code/termux-login, BuriXon-code/micro-retab-plugin  

  followup:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          filename: github-followup.svg
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit  
          base: ""  
          template: classic  
          config_timezone: Europe/Warsaw  
          config_display: large  
            
          plugin_followup: yes  
          plugin_followup_sections: repositories  

  people:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: stalomeow/metrics@projects-v2  
        with:  
          filename: github-people.svg
          user: BuriXon-code  
          token: ${{ secrets.METRICS_TOKEN }}   
          output_action: commit  
          base: ""  
          template: classic  
          config_timezone: Europe/Warsaw  
          config_display: large  
            
          plugin_people: yes  
          plugin_people_limit: 16  
          plugin_people_size: 28  
          plugin_people_types: followers, following  

  pagespeed:  
    runs-on: ubuntu-latest  
    steps:  
      - uses: lowlighter/metrics@latest  
        with:  
          filename: github-main.pagespeed.svg  
          token: NOT_NEEDED  
          base: ""  
          plugin_pagespeed: yes  
          plugin_pagespeed_token: ${{ secrets.PAGESPEED_TOKEN }}  
          plugin_pagespeed_url: https://burixon.dev/
