name: Metrics
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 */8 * * *'
  workflow_dispatch:
      inputs:
          description: {default: 'Start Metrics Workflow'}
          name: {default: 'Metrics for BuriXon-code'}

# STALO - METRICS
jobs:
    all:
        runs-on: ubuntu-latest
        steps:
          - uses: stalomeow/metrics@projects-v2
            with:
              user: BuriXon-code
              token: ${{ secrets.METRICS_TOKEN }} 
              output_action: commit
              template: classic
              base: header, activity, community, repositories, metadata
              config_timezone: Europe/Warsaw
              config_display: large
              
              plugin_achievements: yes
              plugin_achievements_display: detailed
              plugin_achievements_secrets: yes
              plugin_achievements_threshold: C
              
              plugin_languages: yes
              plugin_languages_colors: github
              plugin_languages_threshold: 0.1
              
              plugin_isocalendar: yes
              plugin_isocalendar_duration: half-year

              plugin_repositories: yes
              plugin_repositories_forks: repositories_forks
              plugin_repositories_featured: BuriXon-code/Termux-WiFi-map, BuriXon-code/spideko, BuriXon-code/typecat, BuriXon-code/Termux-GPS-tracker, BuriXon-code/termux-login, BuriXon-code/micro-retab-plugin
              
              plugin_lines: yes
              
              plugin_habits: yes
              plugin_habits_days: 14
              plugin_habits_facts: no
              plugin_habits_charts: yes
              plugin_habits_from: 500
              
              plugin_followup: yes
              plugin_followup_sections: repositories
              
              plugin_people: yes
              plugin_people_limit: 20
              plugin_people_size: 28
              plugin_people_types: followers, following

    metrics-achievements:
        runs-on: ubuntu-latest
        steps:
          - uses: stalomeow/metrics@projects-v2
            with:
              filename: github-achievements.svg
              user: BuriXon-code
              token: ${{ secrets.METRICS_TOKEN }}
              output_action: commit
              plugin_achievements: yes
              plugin_achievements_display: detailed
              plugin_achievements_secrets: yes
              plugin_achievements_threshold: C

    metrics-languages:
        runs-on: ubuntu-latest
        steps:
          - uses: stalomeow/metrics@projects-v2
            with:
              filename: github-languages.svg
              user: BuriXon-code
              token: ${{ secrets.METRICS_TOKEN }}
              output_action: commit
              plugin_languages: yes
              plugin_languages_colors: github
              plugin_languages_threshold: 0.1

    metrics-isocalendar:
        runs-on: ubuntu-latest
        steps:
          - uses: stalomeow/metrics@projects-v2
            with:
              filename: github-isocalendar.svg
              user: BuriXon-code
              token: ${{ secrets.METRICS_TOKEN }}
              output_action: commit
              plugin_isocalendar: yes
              plugin_isocalendar_duration: half-year

    metrics-repositories:
        runs-on: ubuntu-latest
        steps:
          - uses: stalomeow/metrics@projects-v2
            with:
              filename: github-repositories.svg
              user: BuriXon-code
              token: ${{ secrets.METRICS_TOKEN }}
              output_action: commit
              plugin_repositories: yes
              plugin_repositories_forks: repositories_forks
              plugin_repositories_featured: >
                BuriXon-code/Termux-WiFi-map,
                BuriXon-code/spideko,
                BuriXon-code/typecat,
                BuriXon-code/Termux-GPS-tracker,
                BuriXon-code/termux-login,
                BuriXon-code/micro-retab-plugin

    metrics-lines:
        runs-on: ubuntu-latest
        steps:
          - uses: stalomeow/metrics@projects-v2
            with:
              filename: github-lines.svg
              user: BuriXon-code
              token: ${{ secrets.METRICS_TOKEN }}
              output_action: commit
              plugin_lines: yes

    metrics-habits:
        runs-on: ubuntu-latest
        steps:
          - uses: stalomeow/metrics@projects-v2
            with:
              filename: github-habits.svg
              user: BuriXon-code
              token: ${{ secrets.METRICS_TOKEN }}
              output_action: commit
              plugin_habits: yes
              plugin_habits_days: 14
              plugin_habits_facts: no
              plugin_habits_charts: yes
              plugin_habits_from: 500

    metrics-followup:
        runs-on: ubuntu-latest
        steps:
          - uses: stalomeow/metrics@projects-v2
            with:
              filename: github-followup.svg
              user: BuriXon-code
              token: ${{ secrets.METRICS_TOKEN }}
              output_action: commit
              plugin_followup: yes
              plugin_followup_sections: repositories

    metrics-people:
        runs-on: ubuntu-latest
        steps:
          - uses: stalomeow/metrics@projects-v2
            with:
              filename: github-people.svg
              user: BuriXon-code
              token: ${{ secrets.METRICS_TOKEN }}
              output_action: commit
              plugin_people: yes
              plugin_people_limit: 16
              plugin_people_size: 28
              plugin_people_types: followers, following

# LOWLIGHTER - PAGESPEED
  pagespeed:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: github-main-pagespeed.svg
          token: NOT_NEEDED
          base: ""
          plugin_pagespeed: yes
          plugin_pagespeed_token: ${{ secrets.PAGESPEED_TOKEN }}
          plugin_pagespeed_url: https://burixon.dev/

